* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(178, 149, 149);   
}

.main {
    display: flex;
    
    width: 100%;
    height: 100vh;
    justify-content: center;
}

/* Left Side */
.sidebar {
    background-color: white;
}

.site-name {
    color: blue;
    text-align: center;
}

.sidebar-details {
    margin: 20px;
}

.manger {
   text-align: center;
}

.manger-name {
    font-size: large;
    margin: 0;
}

.manger-p {
    margin: 0;
}
/*--*/
.list-style {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.icons {

}
.links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 5px;
}
.sidebar-button {
    background-color: blue;
    color: #f1f1f1;
    border: 0;
    width: 100%;
    height: 40px;
    cursor: pointer;
}


/* Right Side */
.right-section {
    background-color:#f1f1f1;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.search-bar {
    background-color: white;
    border-style: none;
}
.search {
    width: 100%;
    padding: 25px;
    border: 0;
}

.dashboard {
    display: flex;
    margin: 10px 20px;
    padding-left: 20px;
}
.dashboard-header {
    padding-left: 30px;
    margin: 20px;
}

/*----*/
.stock {
    background-color: blueviolet;
    padding: 20px;
    margin-right: 10px;
    border-radius: 8%;
    width: 300px;
    height: 200px;
}
.profits {
    background-color: #6a297c;
    padding: 20px;
    margin-right: 10px;
    border-radius: 8%;
    width: 300px;
    height: 200px;
}
.visitors {
    background-color: #7c2952;
    padding: 20px;
    margin-right: 10px;
    border-radius: 8%;
    width: 300px;
    height: 200px;
}

.name {
    margin-bottom: 0;
}
.amount {
    margin: 0;
}

/* Table */
.table-section {
    background-color: white;
    margin: 15px 40px;
    padding: 20px;
    height: 70%;
}
.table-tr {
    height: 50px;
}

.table {
    width: 100%;
}

th {
    text-align: left;
}

.table-status {
    background-color: blue;
    color: white;
    text-align: center;
    display: inline;
    padding: 10px;
}
.table-status2 {
    background-color: rgb(195, 0, 255);
    color: white;
    text-align: center;
    display: inline;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }
    .sidebar {
        width: 100%
    }
    .right-section {
        width: 100%
    }
}